@media (min-width: 320px) {
	#root {
		--primary-color: #ffffff;
		--secondary-color: #000000;
		--teritary-color: #ee695f;
		--quaternary-color: #e2e2e4;
		--first-font: 'Arial', 'Humanist';
		overflow: auto;
		background-color: var(--primary-color);
		font-family: var(--first-font);
		height: auto;
		border-left: 2px solid var(--quaternary-color);
		border-right: 2px solid var(--quaternary-color);
	}
	
	.center-header-container {
		position: relative;
		width: 70%;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		color: var(--teritary-color);
		/*margin-bottom: 1%;*/
		display: inline-block;
	}

	h1 {
		margin-top: 0;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		/*margin-bottom: 1%;*/
		display: inline-block;
		font-size: 1.3em;
	}

	h2 {
		color: var(--secondary-color);
		margin: 0;
		margin-bottom: 0%;
		font-size: 1.2em;
		color: inherit;
	}

	h3 {
		color: var(--secondary-color);
		margin: 0;
		margin-bottom: 0%;	
	}

	p {
		color: var(--quaternary-color);
		font-family: var(--first-font);
		font-size: 0.66em;
		font-weight: 550;
	}

	.top-bar-padding {
		position: relative;
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 3%;
	}

	.top-bar {
		position: relative;
		width: 100%;
		height: 13vh;
		margin: all;
		padding-right: 6%;
	}

	.nav-tab {
		display: inline-block;
		width: 50%;
		height: 20%;
		text-align: center;
		color: var(--secondary-color);
	}

	.following-tab {
		color: var(--teritary-color);
	}

	.red-line {
		z-index: 1;
		position: relative;
		display: inline-block;
		width: 50%;
		height: 3px;
		background-color: var(--teritary-color);
		margin-right: 0%;
		left: 50%;
	}

	.back-arrow {
		position: relative;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-left: 2px solid var(--secondary-color);
		border-top: 2px solid var(--secondary-color);
		transform: rotate(-45deg);
		top: -5%;
	}

	.ellipses {
		position: relative;
		top: 20%;
		align-content: center;
		display: inline-block;
		direction: rtl;
		width: 10%;
		float: right;
	}

	.ellipse {
		background-color: var(--secondary-color);
		width: 3px;
		height: 3px;
		display: inline-block;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: inherit;
	}

	.followers-section, .following-section {
		width: 100%;
		height: 80vh;
	}

	.follower-box-padding, .following-box-padding {
		padding-bottom: 1%;
		padding-left: 1%;
		padding-right: 1%;
	}

	.follower-box, .following-box {
		border-top: 1px solid var(--quaternary-color);
		height: 20vh;
		width: 100%;
		padding-top: 3%;
		display: block;
	}
	
	.follower-pic, .following-pic {
		position: relative;
		--radius: 15%;
		width: var(--radius);
		height: auto;
		display: inline-block;
    border-radius: 50%;
    margin-right: 6%;
    left: 0%;
    margin-left: 5%;
    vertical-align: top;
	}
	.follower-pic img, .following-pic img {
    vertical-align: top;
    width: 100%;
    height: 100%;
	}

	.follower-info, .following-info {
		position: relative;
		width: 70%;
		display: inline-block;
	}

	.follower-name, .following-name {
		display: inline;
	}
	
	.follower-description, .following-description {
		position: relative;
		display: inline;
	}

	.follower-members, .following-members {
		display: inline;
		padding-right: 5%;
	}

	.follower-thanks, .following-thanks {
		display: inline;
		padding-right: 5%
	}

	.follower-followers, .following-followers {
		display: inline;
		padding-right: 5%;
	}

	.follower-follow-status, .following-follow-status {
		position: relative;
		display: inline-block;
		--radius-setting: 15% 50%;
		border-top-right-radius: var(--radius-setting);
		border-top-left-radius: var(--radius-setting);
		border-bottom-left-radius: var(--radius-setting);
		border-bottom-right-radius: var(--radius-setting);
		width: 30%;
		padding-top: 2%;
		padding-bottom: 2%;
		background-color: var(--teritary-color);
		font-family: var(--first-font);
		font-weight: 600;
		color: var(--primary-color);
		font-size: 0.75em;
		text-align: center;
		float: right;
	}
	.follower-follow-status:after, .following-follow-status:after {
		content: 'Following';
		font-size: 1em;

	}
}

@media (min-width: 800px) {
	#root {
		background-color: var(--primary-color);
	}
}

@media (min-width: 1100px) {
	#root {
		background-color: var(--primary-color);
	}
}